*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Segoe UI',sans-serif;
background:#f5f7fb;
}

/* PAGE */

.register-page{
min-height:100vh;
}

/* IMAGE */

.image-side{

background:url("../images/register-house.jpg");

background-size:cover;
background-position:center;

position:relative;
}

.image-side::before{

content:"";

position:absolute;
inset:0;

background:rgba(0,0,0,.45);
}

.overlay-content{

position:absolute;

top:50%;
left:60px;

transform:translateY(-50%);

color:white;

z-index:10;
}

.overlay-content h1{

font-size:60px;
font-weight:800;
}

.overlay-content h2{

font-size:40px;
margin-top:15px;
}

.overlay-content p{

font-size:20px;
max-width:450px;
margin-top:20px;
}

/* FORM */

.form-side{

display:flex;
justify-content:center;
align-items:center;

background:white;
}

.register-card{

width:450px;

padding:40px;
}

.register-card h2{

font-size:42px;

font-weight:800;

color:#111827;
}

.register-card p{

color:#6b7280;

margin-bottom:25px;
}

.form-control{

height:58px;

border-radius:14px;

border:2px solid #e5e7eb;
}

.form-control:focus{

border-color:#6d5dfc;

box-shadow:
0 0 0 4px rgba(109,93,252,.15);
}

.register-btn{

height:60px;

border:none;

border-radius:15px;

font-weight:700;

font-size:18px;

color:white;

background:linear-gradient(
135deg,
#4f46e5,
#8b5cf6
);
}

.register-btn:hover{

color:white;

transform:translateY(-2px);
}

.login-link{

text-align:center;

margin-top:25px;
}

.login-link a{

text-decoration:none;

font-weight:700;

color:#6d5dfc;
}

/* MOBILE */

@media(max-width:992px){

.image-side{
display:none;
}

.register-card{

width:100%;

padding:25px;
}

}